body {
  background-color: #cccccc;
  font-family: tahoma;
  font-size: 20px;
}
.navbar-default {
  background-color: #ffffff;
}
.navbar-default img {
  width: 250px;
  margin: 10px;
}
form {
  margin: 10px;
}
.container {
  background-color: #ffffff;
}
.form-group label {
  font-weight: normal;
  margin: 10px;
}
.form-group hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.rating-xs {
  font-size: 1.5em;
}
.rating {
  margin-top: -13px;
}
