@bg_color: #cccccc;
@inner_color: #ffffff;
@font-family: tahoma;
@font-size: 18px;
@spaces: 10px;
body {
  background-color: @bg_color;
  font-family: @font-family;
  font-size: @font-size;
}

.navbar-default {
  background-color: @inner_color;
  img {
    width: 250px;
    margin: @spaces;
  }
}

form {
  margin: @spaces;
}

.container {
  background-color: @inner_color;
}

.form-group {
  label {
    font-weight: normal;
    margin: @spaces;
  }
  hr {
    margin-top: @spaces;
    margin-bottom: @spaces;
  }
}

.rating-xs {
  font-size: 1.5em;
}

.rating {
  margin-top: -13px;
}

input[type=number] {
  width: 100%;
}
.rating-disabled .rating {
  cursor: auto;
}
.card {
  .old-price {
    margin-right: @spaces*3;
    color: red;
  }
  border: solid 1px #cccccc;
  height: 325px;
  padding: @spaces;
  margin-bottom: @spaces;
  margin-top: @spaces;
  .stars {
    clear: both;
    margin-top: @spaces * 4;
  }
  .hotelImage {
    float: left;
    margin-right: @spaces;
  }
  h5 {
    color: @bg_color;
  }
  .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 16px;
    line-height: 1.8; /* fallback */
    margin-top: @spaces;
    margin-bottom: @spaces*2;
  }
}